.new-student-header
  %h1.center= t(:student_setup_application)
  - step_index = wizard_steps.index(step) + 1
  .wizard-steps
    .wizard-bar
      .fill{class: "step#{step_index}"}

    %ul
      = wizard_step t(:about_you), 1, students_setup_path(:about_you), step_index
      = wizard_step t(:interests_and_fields_of_study), 2, students_setup_path(:interests_and_fields_of_study), step_index
      = wizard_step t(:important_details), 3, students_setup_path(:important_details), step_index
      = wizard_step t(:confirmation), 4, students_setup_path(:confirmation), step_index