.container
  = render 'header', active_step: params[:id]

  .confirmation

    %h2= t(:app_confirmation)
    %p= t(:student_app_conf_detail)

    .c6
      %label= t(:name)
      %p=@student_application.student.full_name

    .c6.omega
      %label= t(:confirmation_has_been_mail_to)
      %p=@student_application.student.login.email

    .c6
      %label= t(:desired_project)
      %p=@student_application.project_session.project.name

    .c6.omega
      %label= t(:session)
      %p=@student_application.project_session.select_label

    .c6
      %label= t(:your_address)
      %p=@student_application.student.full_address

    .clearfix

  .c12
    %strong= t(:what_do_i_expect_next)
    %ul
      %li= t(:youll_get_this_confirmation_in_your_email)
      %li= t(:student_references)
      %li= t(:weve_signed_you_up_for_your_enewsletter)
      %li= t(:we_review_your_application_in_3_business_days)
    .spacer
    %p= t(:talk_soon_ipo_support_staff)

