.container
  = render 'header', active_step: params[:id]

  .info-box
    .first-column
      %h8= t(:desired_project)
      %p=@current_student_application.project_session.project.name

    .second-column
      %h8= t(:start_date)
      %p=@current_student_application.project_session.select_label

    .clearfix

  .confirmation
    .hr
    %h2.center= t(:app_confirmation)

    .first-column
      %h8= t(:name)
      %p=@student.full_name

    .second-column
      %h8= t(:confirmation_has_been_mail_to)
      %p=@student.login.email

    .first-column
      %h8= t(:desired_project)
      %p=@current_student_application.project_session.project.name

    .second-column
      %h8= t(:session)
      %p=@current_student_application.project_session.select_label

    .first-column
      %h8= t(:your_address)
      %p=@student.full_address

    .clearfix
    .spacer
    .hr

  .what_expect
    %strong= t(:what_do_i_expect_next)
    %ul
      %li= t(:youll_get_this_confirmation_in_your_email)
      %li= t(:weve_signed_you_up_for_your_enewsletter)
      %li= t(:prepared_your_passport_and_read_our) 
      <a href="#">I've applied, what are my next steps blog post</a>
      %li= t(:we_review_your_application_in_3_business_days)
 
    %strong= t(:talk_soon_ipo_support_staff)

