.container
  = render 'header', active_step: params[:id]

  .info-box
    .first-column
      %h8= t(:desired_project)
      %p=@student_application.project_session.project.name

    .second-column
      %h8= t(:start_date)
      %p=@student_application.project_session.select_label

    .clearfix

  = simple_form_for @student_application, url: wizard_path, method: :put, validate: true do |f|

    = f.fields_for :student, @student_application.student, validate: true do |f_student| 
      %fieldset
        .student-fields
          = f_student.input :passions, as: :select, label: t(:what_are_your_passions)

          = f_student.input :overall_education, as: :select, label: t(:highest_education_completed)
          = f_student.input :graduation_year, collection: ((Date.today.year - 50)..(Date.today.year)).to_a.reverse

          = f_student.input :spoken_languages, as: :select
          = f_student.input :fields_of_study, as: :select

          = f_student.input :experiences, as: :select, label: t(:please_list_your_cross_cultural_experiences)
          %p.experiences-description
            %i.fa.fa-globe= t(:cross_cultural_experience_requirement)
            %br
            = t(:the_ipo_connection_internship_is_designed_to_extend_and_further)

          = f_student.input :description, label: t(:tell_us_about_yourself)

      %fieldset#spiritual_reference
        %h2= t(:spiritual_reference)
        %p= t(:we_require_one_spiritual_reference)
        = render partial: "reference", locals: { f_student: f_student, type: "spiritual_reference" }
  
      %fieldset#academic_reference
        %h2= t(:academic_reference)
        %p= t(:we_require_one_academic_reference)
        = render partial: "reference", locals: { f_student: f_student, type: "academic_reference" }

    = f.submit t(:save_and_continue_to_step_3), class: "button button-orange"