.container
  = render 'header', active_step: params[:id]

  .info-box
    .first-column
      %h8= t(:desired_project)
      %p=@student_application.project_session.project.name

    .second-column
      %h8= t(:start_date)
      %p=@student_application.project_session.select_label

    .clearfix

  = simple_form_for @student_application, url: wizard_path, method: :put, validate: true do |f|

    = f.fields_for :student, @student_application.student, validate: true do |f_student| 
      %fieldset
        .student-fields
          = f_student.input :passions, as: :select, label: t(:what_are_your_passions)

          = f_student.input :overall_education, as: :select, label: t(:highest_education_completed)
          = f_student.input :graduation_year, collection: ((Date.today.year - 50)..(Date.today.year)).to_a.reverse

          = f_student.input :spoken_languages, as: :select
          = f_student.input :fields_of_study, as: :select

          = f_student.input :experiences, as: :select, label: t(:please_list_your_cross_cultural_experiences)
          %p.experiences-description
            %i.fa.fa-globe= t(:cross_cultural_experience_requirement)
            %br
            = t(:the_ipo_connection_internship_is_designed_to_extend_and_further)

          = f_student.input :description, label: t(:tell_us_about_yourself)

      %fieldset.reference
        %h2= t(:spiritual_reference)
        %p= t(:we_require_one_spiritual_reference)
        .student_fields    
          = f_student.fields_for :spiritual_reference, @student_application.student.spiritual_reference, validate: true do |f_s|
            = f_s.input :first_name
            = f_s.input :last_name
            = f_s.input :email, label: t(:email_address)
            = f_s.input :phone
            = f_s.input :description, label: t(:how_do_you_know_this_person)

      %fieldset.reference
        %h2= t(:academic_reference)
        %p= t(:we_require_one_academic_reference)
        .student_fields     
          = f_student.fields_for :academic_reference, @student_application.student.academic_reference, validate: true do |f_r|
            = f_r.input :first_name
            = f_r.input :last_name
            = f_r.input :email, label: t(:email_address)
            = f_r.input :phone
            = f_r.input :description, label: t(:how_do_you_know_this_person)

    = f.submit t(:save_and_continue_to_step_3), class: "button button-orange"