.new-project-header
  %h1.center= t(:project_setup_application)
  - step_index = wizard_steps.index(step) + 1
  .wizard-steps
    .wizard-bar
      .fill{class: "step#{step_index}"}

    %ul
      = wizard_step t(:about_you), 1, projects_setup_path(:about_you), step_index
      = wizard_step t(:the_project_and_students), 2, projects_setup_path(:the_project), step_index
      = wizard_step t(:location_and_region), 3, projects_setup_path(:location), step_index
      = wizard_step t(:multimedia_and_content), 4, projects_setup_path(:content), step_index
      = wizard_step t(:agreement), 5, projects_setup_path(:agreement), step_index
      = wizard_step t(:confirmation), 6, projects_setup_path(:confirmation), step_index