.nested-fields
  = f.input :contact_first_name
  = f.input :contact_last_name
  = f.input :contact_email
  = f.input :contact_phone
  = f.input :contact_description, label: t(:know_this_person)
  = link_to_remove_association "x", f, class: "button button-orange"