= render 'header', active_step: params[:id]

%h2 Add Photos & Videos

= simple_form_for @project, url: wizard_path, method: :put, validate: true do |f|

  %h2 Publish Your Internship Opportunity

  = f.input :description, as: :text, label: 'Internship Project, Community, and Personal Overview'

  %h3 Housing & Meals
  = f.input :housing_type
  = f.input :dining_location
  = f.input :housing_description, as: :text, label: false, placeholder: 'Describe the housing, diet, and any health concerns here....'

  %h3 Challenges at your location
  = f.input :safety_level, as: :select
  = f.input :challenges_description, as: :text, label: false, placeholder: 'Describe the specific cultural, safety, and lifestyle challenges at your location...'

  %h3 What are your community guidelines (Dress, schedule, etc...)
  = f.input :attire, as: :select
  = f.input :guidelines_description, as: :text, label: false, placeholder: 'Describe your project and/or organization guidelines'

  = f.submit "Save & Continue to Step #5"