= render 'header', active_step: params[:id]

= simple_form_for @project, url: wizard_path, method: :put, validate: true do |f|
  %article
    %h3.center Add Photos & Videos

  %article
    %h3.center Publish Your Internship Opportunity

    %fieldset
      %h4 Internship Project, Community, and Personal Overview
      = f.input :description, as: :text, label: false, placeholder: 'Describe the project, the project facilities, organization, and project personnel here...'

    %fieldset
      %h4 Housing & Meals
      = f.input :housing_type, label: "Student housing type."
      = f.input :dining_location, label: "Student dining location."
      = f.input :housing_description, as: :text, label: false, placeholder: 'Describe the housing, diet, and any health concerns here...'

    %fieldset
      %h4 Challenges at your location
      = f.input :safety_level, label: "Describe the level of safety in your area:"
      = f.input :challenges_description, as: :text, label: false, placeholder: 'Describe the specific cultural, safety, and lifestyle challenges at your location...'

    %fieldset
      %h4 What are your community guidelines (Dress, schedule, etc...)
      = f.input :typical_attire, label: "Describe a students typical attire:"
      = f.input :guidelines_description, as: :text, label: false, placeholder: 'Describe your project and/or organization guidelines (such as dress, for personal/interns)...'

  = f.submit "Save & Continue to Step #5", class: "button button-orange"