= render 'header', active_step: params[:id]

%h2 The Location

= simple_form_for @project, url: wizard_path, method: :put, validate: true do |f|
  = f.input :location_private, as: :boolean
  = f.input :address, label: "Street Address (include Street Address, City, Province, Country)"

  %h2 Describe Your Region

  = f.input :internet_distance, label: "How far away is the internet?"
  = f.input :location_type, label: "Is your location urban, surburban or rural?"
  = f.input :location_description, as: :text, label: "Describe Your City/Area", placeholder: 'Enter a few sentences on your area, region or city. What will students experience while they\'re at your location?'
  = f.input :culture_description, as: :text, label: "Describe the Culture of the Area", placeholder: 'Enter a few sentences on your culture, events, the people, history, art, people\'s interests, their living, etc...'

  = f.submit "Save & Continue to Step #4"
