= render 'header', active_step: params[:id]

= simple_form_for @project, url: wizard_path, method: :put, validate: true do |f|

  %article

    %h3.center The Project
    = f.input :name, label: 'Internship Project Name:', validate: true
    %h4.center.teams-individuals Are you interested in teams or individuals?

    = f.input :team_mode, as: :button_group, label: false, collection: [['Teams', true], ['Individuals', false]], validate: true
    -# = f.input :min_stay_duration
    = f.input :min_students, label: 'Min. number of students to make this project worthwhile?', validate: true
    = f.input :max_students, label: 'Max. number of students you can house at any one time?', validate: true

  %article
    %h3.center Project Sessions
    %h4 What is the weekly cost for hosting/feeding a student for 1 week?

    %ul.weekly-cost
      %li This weekly cost will include all housing and all meal costs for student
      %li Please include any additional costs for gear or equipment the student will need for the program

    = f.input :per_week_cost, label: 'Per Week Cost for Each Student:', validate: true
    = f.input :per_week_cost_final, as: :boolean, label: "Is this final?", validate: true

  %article
    %h3.center Student Requirements
    .student-requirements-illustration.center
      %h4 Define the Right Students
      %img(src="http://placehold.it/300x340")
    .student-requirements-fields
      = f.input :required_languages, label: 'Select Required Languages Students Must Speak', validate: true
      = f.input :related_student_passions, label: 'Tag All Related Student Passions', validate: true
      = f.input :related_fields_of_study, label: 'Tag all related fields of study that would benefit this project', validate: true
      = f.input :student_educational_requirement, label: 'Student Educational Requirement', validate: true

    = f.submit "Save & Continue to Step #3", class: "button button-orange"