.container
  .info-box
    .cover-photo
      = image_tag @student.cover_photo.cover_size
    .profile-picture
      .first-column
        = image_tag @student.profile_picture.profile_size
      .second-column
        %h1=@student.full_name

  %fieldset
    %h2= t(:spread_word)
    = image_tag "sharing_options.jpg"
    %hr

    %h2= t(:give_to_the_project)
    = link_to t(:donate_to_this_project), student_donate_form_path(@student), class: 'button button-blue', id: "donate_to_project"
    %p
      %span.list-title= t(:donation_cover_the_following)
    %ul
      %li= t(:housing_and_food)
      %li= t(:cost_associated_with_rutine)
      %li= t(:training_costs)
    %hr
    - if @student.projects.any?
      %h2= t(:quick_details)
      %ul
        %li= t(:project, project: @student.projects.first.name, address: @student.projects.first.address)
        %li= t(:session, range: @student.project_sessions.first.select_label)
        %li= t(:internet_access, internet: @student.projects.first.internet_distance)
        %li= t(:project_type, type: @student.projects.first.team_mode_to_string)
    - else
      %h4 No Project Specified
    %hr

    %h2= t('how_to_contact_me')
    %p More about IPO Connection More about IPO Connection More about IPO Connection More about IPO Connection

  %fieldset
    %h1= t(:about_me)
    %p More about IPO Connection More about IPO Connection More about IPO Connection More about IPO Connection More about IPO Connection More about IPO Connection More about IPO Connection More about IPO Connection More about IPO Connection More about IPO Connection More about IPO Connection 
    %hr
    - if @student.projects.any?
      %h1= t(:my_project, project: @student.projects.first.name, address: @student.projects.first.address)
      %p More about IPO Connection More about IPO Connection More about IPO Connection More about IPO Connection More about IPO Connection More about IPO Connection More about IPO Connection More about IPO Connection More about IPO Connection More about IPO Connection More about IPO Connection 
      %hr