%footer.box.box-grey.light-text
  .container
    .c6
      .footer-col
        %h3 explore
        %ul
          %li global internships
          %li our blog
          %li events & webinars
          %li facebook
          %li twitter
          %li youtube

      .footer-col
        %h3 about ipo
        %ul
          %li who we are
          %li how IPO works
          %li partner organizations
          %li financial information

      .footer-col
        %h3 resources
        %ul
          %li Finding the right internship
          %li setting up a project
          %li becoming a mentor
          %li fundraising toolkit
          %li for parents
          %li insurance information
          %li travel alert
          %li academic credit 4

    #reach-out.c6.omega
      = simple_form_for :apply, url: '/apply', method: 'post', remote: true do |f|
        %h1 reach out
        %div
          %span Hi, my name is
          = f.input :first_name, label: false, placeholder: 'First Name', required: true
          = f.input :last_name, label: false, placeholder: 'Last Name', required: true
          = f.input :email, label: false, placeholder: 'Enter email address...'
        %div
          %span I'm interested in...
          %select{class: 'no-select2'}
            %option An internship
            %option Winning the Lottery
            %option World Peace
            %option The Cure to Cancer

        = f.submit "Go!", class: "button"
        %p.msg