%nav.main
  = NavigationMenu.new(refinery_menu_pages, self).to_html
  
  %span
  = form_tag '/search', :method => :get do
    = search_field_tag :search, @search, :autocomplete => false, :value => "Search + Enter".html_safe
    = submit_tag 'Search', :class => 'button button-green', :id => 'submit' 

  = yield :navigation