%article.container.searchcontainer
  %div.search
    %div.entypo-search
      %h1 
        %span search results
  %label.head #{pluralize(@pages.count, 'page result')} for "#{params[:search]}"
  .results
    - @pages.with_details.each do |page,details|
      .result
        = link_to page.title, page.slug
        %p= raw(details[:highlight][:bodies] || details[:highlight][:title])

%article.container
  %label.head #{pluralize(@projects.count, 'project result')} for "#{params[:search]}"
  .results
    - @projects.with_details.each do |project,details|
      .result
        = link_to project.name, project_path(project)
        %p=h ( details[:highlight][:description] || project.description).html_safe