.fieldset
  %h3= t(:quick_info)
  %h5= t(:application_status, status: @student_application.status)
  %h5= t(:project_and_session, project: @student_application.project_session.project.name, start: @student_application.project_session.start_date, end: @student_application.project_session.end_date)
  %h5= t(:student_profile) + " Unpublished"

%br
.fieldset
  %h3= t(:course_sites_info)
  %h5= link_to t(:login_to_course_sites), "#"
  %h5= t(:user, user: @student.email)
  %h5= t(:password, password: "ABCDE")