.fieldset
  %h2= t(:personal_information)
  = form_for @student, url: dashboards_update_student_path, :builder => SimpleForm::FormBuilder, method: :put, validate: true do |student|
    = hidden_field_tag :id, @student.id
    = hidden_field_tag :view, "manage_account"
    = render partial: 'shared/errors', locals: {object: @student}
    .student-fields
      = student.input :first_name
      = student.input :last_name
      %h5= t(:email)
      %h3= @student.email
      %h5= link_to t(:reset_password), edit_login_registration_path 
      = student.input :preferred_phone
      = student.input :phone_type
      = label_tag t(:user_language)
      = text_field_tag "user_language"

    = student.submit t(:save), class: "button button-orange"


