.container
  %h1 Support the IPO Connection
  %p Contributions in support of IPO Connection are 100% tax deductible with the understanding that no goods or services are received by the donor. Donations may be made as scholarships for participant project expenses.
  %p 
    =flash[:error]
  = simple_form_for :donation, url: donations_path, html: { id: 'donate_form', novalidate: false } do |f|
    %fieldset
      %p.c12
        = f.input :amount, as: :button_group, label: false, collection: @amounts, validate: true
      %p.c6
        %label Amount:
        = number_field_tag :custom_amount, '', min: 1
      %p.c6
        %label Your first name:
        = text_field_tag 'customer[first_name]', '', required: true
      %p.c6.omega
        %label Your last name:
        = text_field_tag 'customer[last_name]', '', required: true
      %p.c10
        %label Email:
        = email_field_tag 'customer[email]'
      %p.c6
        %label Address:
        = text_field_tag 'billing[street_address]'
      %p.c6.omega
        %label Postal Code
        = text_field_tag 'billing[postal_code]'
      %p.c6
        %label Phone:
        = phone_field_tag 'customer[phone]'
      %p.c6
        %label Card Number:
        = text_field_tag :number,'', autocomplete: "off", name: "", "data-encrypted-name" => "card[number]", value: "", required: true
      %p.c6.omega
        %label CVV:
        = text_field_tag :number,'', autocomplete: "off", name: "", "data-encrypted-name" => "card[cvv]", value: "", required: true
      %p.c6
        %label Expiration Date:
        = select_month(Date.today, field_name: "expiration_month", add_month_numbers: true, prefix: "card")
        = select_year(Date.today, field_name: "expiration_year", start_year: 2005, prefix: "card")
      %p.c6
        = submit_tag "Donate", class: 'button button-blue'

:plain
  <script type="text/javascript" src="https://js.braintreegateway.com/v1/braintree.js"></script>

:javascript
  var braintree = Braintree.create("#{BRAINTREE_CONFIG[:client_side_encryption_key]}");
  braintree.onSubmitEncryptForm('donate_form');
  connect_group_to_select($(".donation_amount.button_group"), $("#donation_amount"),function(select) { select.valid() })