- projects.each do |p|
  .project.c4.project-result{'data' => {'project' => p.id}}
    = image_tag p.project_media.first.image_url(:medium) unless p.project_media.empty?
    .project-description
      %h3= p.name
      %p= truncate(p.description, :length => 50, :omission => ' ...')
      %p= truncate(p.full_address, :length => 50, :omission => ' ...')
      %p.team_mode= p.team_mode ? "team" : "individual"
      / %p= p.get_pretty_properties(p.related_fields_of_study, "related_fields_of_study")
      / %p= p.get_pretty_properties(p.related_student_passions, "related_student_passions")
