.container

  .explore
    .c8
      %h3 Explore IPO Connection Projects
      %br
      %h5= @total_projects.to_s + " Total Projects"

    .options
      %span.explore-by Explore By:
      .button-group
        = button_link_to 'Map',  projects_path(view: 'map'),  :grey, class: view_active?('map')
        = button_link_to 'Grid', projects_path(view: 'grid'), :grey, class: view_active?('grid')
        = button_link_to 'List', projects_path(view: 'list'), :grey, class: view_active?('list')

  .search-box 
    %span.explore-by Sort:
    .button-group
      = sort_link(@search, :name, 'A-Z')
      = sort_link(@search, :created_at, 'Recent', default_order: :asc)
      = sort_link(@search, :created_at, 'Oldest', default_order: :desc)

    = search_form_for @search, :builder => SimpleForm::FormBuilder do |f|
      = hidden_field_tag :view, params[:view]
      .filter
        .sort
          %h5 Session Timeframe
          = f.text_field :name_cont, size: 15

        .include
          %h5 Fields of Study
          = select_tag "properties_fields", options_for_select(fields_of_study), include_blank: true, multiple: true

        .include
          %span Team
          = f.check_box :team_mode_true
          %span Individual
          = f.check_box :team_mode_false

        .search
          %span By name:
          = f.text_field :name_cont, size: 15

      .interests 
        %span Filter by Passion
        = select_tag "properties_passions", options_for_select(student_passions), include_blank: true, multiple: true

      = f.submit "Search!", class: "button button-orange" 
      %br
      %br

  = render "projects_#{params[:view]}", projects: @projects