.container

  .explore
    .c8
      %h3 Explore IPO Connection Projects
      %br
      %h5= @total_projects.to_s + " Total Projects"

    .options
      %span.explore-by Explore By:
      .button-group
        = button_link_to 'Map',  projects_path(view: 'map'),  :grey, class: view_active?('map')
        = button_link_to 'Grid', projects_path(view: 'grid'), :grey, class: view_active?('grid')
        = button_link_to 'List', projects_path(view: 'list'), :grey, class: view_active?('list')

  .search-box 
    = search_form_for @q do |f|
      = hidden_field_tag :view, params[:view]
      .filter
        .sort
          %span.explore-by Sort:
          .button-group
            = sort_button 'A-Z', 'name asc'
            = sort_button 'Recent', 'created_at desc'
            = sort_button 'Oldest', 'created_at asc'

        .include
          %span.explore-by Filter:
          %h5 Session Timeframe
          = f.text_field :created_at

          %h5 Fields of Study
          = dropdown 'Any #' do
            = dropdown_btn '1-10'
            = dropdown_btn '10-40'
            = dropdown_btn '40+'

          .button-group
            = sort_button 'All', 'name asc'
            = sort_button 'Team', 'created_at desc'
            = sort_button 'Individual', 'created_at asc'

        .search
          %span By name:
          = f.text_field :name_cont

      .interests 
        %span Filter by Passion
        = dropdown 'All' do
          = dropdown_btn '??'
          = dropdown_btn '??'

      = f.submit "Search!", class: "button button-orange" 
      %br
      %br

  = render "projects_#{params[:view]}", projects: @projects