.container

	.primary
		%h1= @p.name
		
		- @p.project_media.each do |m|
			%img{:src => m.image.url(:thumb)}

		%p= @p.description
		
		%h3 Overview
		%p= @p.get_pretty_properties(@p.related_fields_of_study, "related_fields_of_study")
		%p= @p.get_pretty_properties(@p.related_student_passions, "related_student_passions")
		%p= @p.get_pretty_properties(@p.required_languages, "required_languages")
		%p= t @p.student_educational_requirement
		
		%h3 Internship Location & Culture

		%label= t(:culture_description)
		%p= @p.culture_description
		%label= t(:location_description)
		%p= @p.location_description
		%label= t(:challenges_description)
		%p= @p.challenges_description
		%label= t(:guidelines_description)
		%p= @p.guidelines_description
		%label= t(:housing_description)
		%p= @p.housing_description

	.secondary

		.box
			%h3 Get Started
			%a.button.button-orange{:href => '#'} Apply Now

		.box
			%h3 Quick Details
			
			%label= t(:team_mode) 
			%p= @p.team_mode ? "Team" : "Individual"

			%label= t(:max_students)
			%p= @p.max_students

			%label= t(:safety_level)
			%p=	t(@p.safety_level)
			
			%label= t(:location_type)
			%p= @p.location_type
			
			%label= t(:transportation_available)
			%p= t @p.transportation_available

			%label= t(:per_week_cost)
			%p= @p.per_week_cost

			%label= t(:typical_attire)
			%p= t @p.typical_attire

			%label= t(:dining_location)
			%p= t @p.dining_location

			%label= t(:internet_distance)
			%p= t @p.internet_distance




