.container

	.primary
		%h1= @p.name
		
		- @p.project_media.each do |m|
			%img{:src => m.image.url(:thumb)}

		%p= @p.description
		
		%h3 Overview
		%p= @p.get_pretty_properties(@p.related_fields_of_study, "related_fields_of_study")
		%p= @p.get_pretty_properties(@p.related_student_passions, "related_student_passions")
		%p= @p.get_pretty_properties(@p.required_languages, "required_languages")
		%p= t @p.student_educational_requirement
		
		%h3 Internship Location & Culture

		%p= @p.culture_description
		%p= @p.location_description
		%p= @p.challenges_description
		%p= @p.guidelines_description
		%p= @p.housing_description

	.secondary

		%h3 Quick Details
		
		%p= @p.team_mode ? "Team" : "Individual"

		%h5= t(:max_students)
		%p= @p.max_students

		%p=	t(@p.safety_level)
		%p= @p.location_type
		%p= t @p.transportation_available
		%p= @p.per_week_cost
		%p= t @p.typical_attire
		%p= t @p.dining_location
		%p= t @p.internet_distance




