
.container.topbuffer
  .primary
    %label= t(:project_name)
    %h1= @p.name

    .box.bxslider
      - @p.project_media.each do |m|
        %li
          %img.imagesize{:src => m.image.url}

    .box#bx-pager
      - @p.project_media.each_with_index do |m, i|
        %a{:href => "#", :data => {:slide => {:index => i}}}
          %img{:src => m.image.url(:thumb)}

    %h3 Overview

    %label= t(:description)
    %p= @p.description

    #callout-overview
      .third
        %label= t(:fields_of_study)
        %p= @p.get_pretty_properties(@p.related_fields_of_study, "related_fields_of_study")

      .third
        %label= t(:student_passions)
        %p= @p.get_pretty_properties(@p.related_student_passions, "related_student_passions")

      .third
        %label= t(:needed_lanaguages)
        %p= @p.get_pretty_properties(@p.required_languages, "required_languages")

      %label= t(:project_sessions)
      %table
        %thead
          %tr
            %th= t(:title)
            %th= t(:start_date)
            %th= t(:end_date)
            %th= t(:application_deadline)
            %th= t(:seats_left)
        %tbody
          - @p.project_sessions.each do |s|
            %tr
              %td= s.title
              %td= s.start_date.to_formatted_s(:rfc822)
              %td= s.end_date.to_formatted_s(:rfc822)
              %td= s.application_deadline.to_formatted_s(:rfc822)
              %td= s.seats_left

    %h3 Internship Location & Culture

    %label= t(:culture_description)
    %p= @p.culture_description
    %label= t(:location_description)
    %p= @p.location_description
    %label= t(:challenges_description)
    %p= @p.challenges_description
    %label= t(:guidelines_description)
    %p= @p.guidelines_description
    %label= t(:housing)
    %p= @p.housing_description

    %h3 Project Staff

    %label= @host.organization
    %p #{@host.first_name} , #{@host.role_title}
    %p= @host.get_pretty_properties(@host.experience_with_ywam, "experience_with_ywam")

  .secondary
    .info.rounded= link_to "Back to Projects", projects_path, 'class' => "clr"

    .info.rounded
      %h3 Get Started
      - if can? :apply, @p
        = link_to "Apply", students_setup_index_path(project_id: @p), class: "button button-orange entypo-apply"
      - else
        %h2.grey= t(:sorry_project_full)

    .info.rounded
      %h3 Share
      .fb-share-button{:data => {:type => "button"}}

    .info.rounded
      %h3 Project Details

      %label= t(:team_mode)
      %p= @p.team_mode ? "Team" : "Individual"

      %label= t(:student_educational_requirement)
      %p= @p.student_educational_requirement_text

      %label= t(:housing)
      %p= @p.housing_type_text

      %label= t(:typical_attire)
      %p= @p.typical_attire_text

      %label= t(:student_dining_location)
      %p= @p.dining_location_text

      %label= t(:per_week_cost)
      %p= @p.per_week_cost


    .info.rounded
      %h3 Location

      %label= t(:location_and_region)
      %p= @p.location_type_text

      %label= t(:area_transportation)
      %p= @p.get_pretty_properties(@p.transportation_available,"transportation_available")

      %label= t(:safety_level)
      %p= @p.safety_level_text


      %label= t(:internet_distance)
      %p= @p.internet_distance_text
