.container

	.primary
		%label= t(:project)
		%h1= @p.name
		
		- @p.project_media.each do |m|
			%img{:src => m.image.url(:thumb)}
		
		%h3 Overview

		%label= t(:description)
		%p= @p.description

		%label= t(:related_fields_of_study)
		%p= @p.get_pretty_properties(@p.related_fields_of_study, "related_fields_of_study")
		%label= t(:related_student_passions)
		%p= @p.get_pretty_properties(@p.related_student_passions, "related_student_passions")
		%label= t(:required_languages)
		%p= @p.get_pretty_properties(@p.required_languages, "required_languages")
		
		%h3 Internship Location & Culture

		%label= t(:culture_description)
		%p= @p.culture_description
		%label= t(:location_description)
		%p= @p.location_description
		%label= t(:challenges_description)
		%p= @p.challenges_description
		%label= t(:guidelines_description)
		%p= @p.guidelines_description
		%label= t(:housing_description)
		%p= @p.housing_description

	.secondary

		.info
			%h3 Get Started
			=link_to "Apply", students_setup_index_path, class: "button button-orange"

		.info
			%h3 Project Details
			
			%label= t(:team_mode) 
			%p= @p.team_mode ? "Team" : "Individual"

			%label= t(:max_students)
			%p= @p.max_students

			%label= t(:student_educational_requirement)
			%p= @p.student_educational_requirement_text

			%label= t(:typical_attire)
			%p= @p.typical_attire_text

			%label= t(:dining_location)
			%p= @p.dining_location_text

			%label= t(:per_week_cost)
			%p= @p.per_week_cost

		.info
			%h3 Location
			
			%label= t(:location_type)
			%p= @p.location_type
			
			%label= t(:transportation_available)
			%p= @p.transportation_available

			%label= t(:safety_level)
			%p=	@p.safety_level_text
		

			%label= t(:internet_distance)
			%p= @p.internet_distance_text




