.fieldset.dash-project
  .project-overview
    %label= t(:project_name, project_name: project_session.project.name) 
    - if can? :edit, project_session.project
      %span= link_to "edit", edit_project_path(project_session.project), :class => "entypo-edit"
    %br
    %br
  .project-status
    %h5= t(:status, status: project_session.project.sf_status)
  .project-student-status
    %h5= t(:applications_waiting_for_your_approval)
    = link_to(project_session.student_applications.unapproved.count, "#")
    %h5= t(:students_approved)
    =link_to(project_session.student_applications.approved.count, "#")
  .project-details

    %h5= t(:session_dates, start_date: pretty_date(project_session.start_date), end_date: pretty_date(project_session.end_date))
    %h5= t(:application_deadline_dashboard, deadline: project_session.application_deadline.to_formatted_s(:long_ordinal))