%article.card
  %h4= sa.project_name
  .status
    %label= t(:status)
    .status-tag
      %span= sa.status.text
    - if can? :reserve_spot, sa
      %div= link_to "Reserve My Spot", reserve_my_spot_path(student_application_id: sa.id) , class: "button button-blue"
  .c4
    %h5= t(:project_and_session, project: sa.project_name, start: pretty_date(sa.start_date), end: pretty_date(sa.end_date))
    
    %h5= t(:student_profile, status: @login.entity.published_status_to_string)
