%article.card
  %h4= sa.project_name
  .c4.status
    %label= t(:status)
    .status-tag
      %span= sa.status.text
    - if can? :reserve_spot, sa
      %div= link_to "Reserve My Spot", reserve_my_spot_path(student_application_id: sa.id) , class: "button button-blue"
  .c4
    %label= t(:project)
    %h4= sa.project_name
    %label= t(:session)
    %h4= pretty_date(sa.start_date) + " - " + pretty_date(sa.end_date)
    
  .c4.omega
    %label= t(:student_profile)
    %h4= @login.entity.published_status_to_string