.fieldset
  %h2= t(:personal_information)
  = form_for @fieldhost, url: dashboards_update_fieldhost_path, :builder => SimpleForm::FormBuilder, method: :put, validate: true do |field_host|
    = hidden_field_tag :id, @fieldhost.id
    .field-host-fields
      = field_host.input :first_name
      = field_host.input :last_name
      %h5= t(:email)
      %h3= @fieldhost.email
      %h5= link_to t(:reset_password), edit_login_registration_path 
      = field_host.input :preferred_phone
      = field_host.input :phone_type
      = label_tag t(:user_language)
      = text_field_tag "user_language"

      %br
      %br
      #drop_zone
      %h2= t(:edit_profile_picture)

    = field_host.submit t(:save), class: "button button-orange"
