!!!
= render 'shared/head'
%body{'data-controller' => controller_name, 'data-action' => action_name, 'data-application' => 'ipo'}
  .header-bg &nbsp;
  .container
    %header
      = link_to root_path do
        %h1.title IPO Connection
      = render 'shared/navigation'

  = yield
  = render '/shared/footer'