!!!
= render 'shared/head'
%body{'data-controller' => controller_name, 'data-action' => action_name, 'data-application' => 'ipo', 'class' => 'controller-' + controller_name}
  = render '/shared/segmentio'
  = render '/layouts/social_button_scripts'
  .header-bg &nbsp;
  .container
    %header
      = link_to root_path do
        / %h1.title Converge
        =image_tag 'converge-logo.png'
      = render 'shared/navigation'
    = yield :header
    


  = render 'shared/sub_menus', page: @page
  = yield
  = render '/shared/footer'

