!!!
= render 'shared/head'
%body{'data-controller' => controller_name, 'data-action' => action_name, 'data-application' => 'ipo'}
  = render '/shared/segmentio'
  .header-bg-large &nbsp;
  .main-header.container
    %header
      = link_to root_path do
        %h1.title IPO Connection
      = render 'shared/navigation'
    = yield :header

  = render 'shared/sub_menus', page: @page
  = yield
  = render '/shared/footer'