!!!
= render 'shared/head'
%body{'data-controller' => controller_name, 'data-action' => action_name, 'data-application' => 'ipo'}
  = render '/layouts/segmentio'
  .header-bg &nbsp;
  .container
    %header
      = link_to root_path do
        %h1.title IPO Connection
      = render 'shared/navigation'
      = yield :header

    .c8
      = raw @page.content_for :body
    .c4.omega
      = raw @page.content_for :side_body
